body {
	background: #2e2e2e;
	color: #bbb; line-height: normal;
	font-family: Lucida Grande, Lucida Sans, Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
	font-size: 12px; font-weight: normal; text-decoration: none;
	line-height: 1.5em;

	
}







/* foundation */



.button{
	background: #3e3e3e;

	border: 1px solid black;


	border-radius: 3px;
	text-align: center;
	transition: background-color 0.0s ease-out, color 0.0s ease-out;
}

.button:hover{
	background: green;
}

.button:active{
	background: red;
}

.toggled {
 	background: orange;
}


#about-modal{
	color: black;
}







/* general */


#imgGen {
	width: 100%;
	height: 100%;
}

#uiIdSlider {
	width: 100%;
}









textarea#uiId {
	margin: 0px;
    border: none;
	padding: 0px;

	background: #2e2e2e;
	color: #d0d0d0;

    background-color: transparent;
    resize: none;
    outline: none;
    box-shadow: none;
}




/* panels */

.panel {
	border: 1px solid grey;
	border-radius: 5px;
	margin: 15px;
	padding: 15px;
}


fieldset{
	margin: 15px;
	border: 1px solid grey;
	padding: 10px 15px;
	border-radius: 5px;
}
legend {
	margin: 0px;
	padding: 0px 10px;
    display: block;
    font-size: 16px;
    border: none;
}




/* About */

.reveal {
	width: 800px;

	@media screen and (max-width: 39.9375em) {
		.reveal {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			height: 100vh;
		}

  	}
}
