body {
  color: #bbb; line-height: normal;
  font-family: Lucida Grande, Lucida Sans, Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
  font-size: 11px; font-weight: normal; text-decoration: none;
	  line-height: 1.5em;
}
a img {
	border: 0px solid transparent;
}
a, a:link, a:visited, a:active, a:hover {
	color: #cdcdcd; text-decoration: underline;
}
h1 {
    font-family: Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
	width: 100%; letter-spacing: 0.1em;
	margin-bottom: 1em; font-size: 1.65em;
}
canvas {
	display: block;
	outline: 0px;
}

#content {
	margin: 0px auto 0px auto; padding: 25px 25px 25px 25px;

	overflow: hidden;
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: #3d3d3d;
}
#processing {
	width: @@width@@px;
	float: left;
	border: 0px solid red;
}
#ui {
	width: 500px;
	height: 500px;
	overflow: hidden;
	padding: 0px 00px;
	margin: 0px 50px;
	border: 1px solid green;
}
#uiIdSlider {
	width: 950px;
}
#about {
	width: 1000px;
	clear: both;
	padding: 20px 0px;
	display: none;
	background: #2e2e2e;

}
#idField {
	width: 1000px;
	clear: both;
	display: block;
}
#uiId {
	background: #2e2e2e;
	color: #d0d0d0;
	width: 990px;
	border: none;
	padding: 5px;
	font-size: 14px;
}

#credits {
	clear: both;
	width: 1000px;
	padding: 25px 50px;
	border: 1px solid orange;
	display: none;
}

